In [14]:
# import dependencies
from pprint import pprint
import pandas as pd
import json

In [21]:
# raw_df = pd.read_csv('amazon_stock_data_2_year.csv')
raw_df = pd.read_csv('AMZN_stock_data_2_year.csv')
df = raw_df[['t','n','v','vw','o','c','h','l']].rename(columns={'v':'volume',\
                                                            'vw':'volume weighted average price',\
                                                            'o':'open', 'c':'close',\
                                                            'h':'high', 'l':'low',\
                                                            't':'date','n':'transaction count'})
df.sort_values('date', ascending=True)
df['date'] = pd.to_datetime(df['date'], origin='unix', unit='ms').dt.date

In [25]:
date_type = type(df['date'][0])
print(f'date column value are in format: {date_type}.')
df.head()

date column value are in format: <class 'datetime.date'>.

,date,transaction count,volume,volume weighted average price,open,close,high,low
0,2020-01-02,102920,4035910.0,1882.8283,1875.00,1898.01,1898.0100,1864.1500
1,2020-01-03,99633,3766604.0,1875.4284,1864.50,1874.97,1886.1965,1864.5000
2,2020-01-06,104160,4065698.0,1891.9954,1860.00,1902.88,1903.6900,1860.0000
3,2020-01-07,98636,4134010.0,1903.2183,1904.50,1906.86,1913.8900,1892.0433
4,2020-01-08,95706,3511966.0,1900.4983,1898.04,1891.97,1910.9999,1886.4448